

.header {
    height: 50px;
    display: flex;
    border-bottom: solid 1px darkgrey;
    padding: 20px;
    width: 100%;
    }


.logo {
    text-align: center;
    padding: 5px;
    border: solid 1px black;
    float: left;
    margin-left: 130px;
    margin-bottom: 5px;
    height: 30px;
    width: 300px;
    color: white;
    background: #4aaaa5;
    }

.links {
    width: 30%;
    margin-top: 30px;
    margin-left: auto;
    display: inline;
    }


.section-wrap {
    background-color: #eaeaea;
    padding: 50px;
    }

section {
    border: solid 2px black;
    margin: auto;
    width: 70%;
    display: flex;
    background: linear-gradient(rgba(0 ,0, 150, 0.5), rgba(0,0,50, 0.5)), url(https://i.imgur.com/XV6NSmt.jpg);
    background-size: cover;
    background-position: center;

    }

#picture {
 width: 20%;
    float: left;
    border: solid 1px black;
    }

h2 {
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

#text {
    width: auto;
    color: darkgray;
    line-height: 3;
    }

.form {
    border: solid black 2px;
    background-color: white;
    margin: 15px;
    padding-left: 10px;
    }
a {
    margin: 10px;
}

.footer {
   
    background: gray;
    border-top: solid #4aaaa5 5px;
    width: 100%;
    height: 40x;
    text-align: center;
    }

.footer-tag {
    margin-top: 10 px;
    padding-top: 20px;
    }

.content {

   padding: 10px;
   align-content: flex-end;
    }

.about-me{
    align-content: center;
    margin: 20%;
    font-family: sans-serif;
    height: 1200px;
    width: 900px
    }
 
.form {
    margin: 0px 0px 30px 30px;
    }

@media (max-width: 980px) {
#text {
    line-height: 2.5;
    }
}

@media (max-width: 768px) {
#text {
    display: table-cell;
    line-height: 2;
    }
#break {
    display: none;
    }
.content {
    border-top: solid darkgray 1px;
    }
}

@media (max-width: 640px) {
.header {
    display: initial;
    height: 0;
    padding: 0;
    }
.links {
    margin-left: 200px;
    width: 100%;
    align-content: center;
    }
.logo {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    }
#text {
    line-height: 1.5
    }
#break {
    display: none;
    }
#cool-stuff {
    margin: 10px;
    padding: 10px;
    }
}